In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Task 1. Matrix manipulation with NumPy

## Magic Square Check

Practice matrix manipulation with NumPy by checking if a given matrix is a magic square. A magic square is a grid of numbers where the sums of the numbers in each row, each column, and both main diagonals are the same.

Given a 3x3 Matrix:

You are provided with the following 3x3 matrix:


```
matrix = [
  [8, 1, 6],
  [3, 5, 7],
  [4, 9, 2]
]
```

Check if the Matrix is a Magic Square

a. Calculate Row Sums:

Calculate the sum of each row and store the results in a list.

b. Calculate Column Sums:

Calculate the sum of each column and store the results in a list.

c. Calculate Diagonal Sums:

Calculate the sum of the main diagonal (top-left to bottom-right) and the anti-diagonal (top-right to bottom-left).

d. Check Equality:

Verify if all the sums (row sums, column sums, and diagonal sums) are equal.
If they are, print "The matrix is a magic square." Otherwise, print "The matrix is not a magic square."

In [ ]:

matrix = [
    [8, 1, 6],
    [3, 5, 7],
    [4, 9, 2]
]

# Create numpy array with matrix
matrix = 

def magic_square_check(matrix):
    # Step 1: Calculate row sums
    row_sums = 

    # Step 2: Calculate column sums
    column_sums = 

    # Step 3: Calculate diagonal sums (hint: check the documentation for np.fliplr function)
    main_diagonal_sum = 
    anti_diagonal_sum = 

    # Step 4: Check if all sums are equal
    if # TODO: Implement condition to check if all sums are equal:
        return "The matrix is a magic square."
    else:
        return "The matrix is not a magic square."

magic_square_check(matrix)

Expected Output: 

The matrix is a magic square.

# Task 2: Introduction to Pandas Series

In [ ]:
# You are given the sales data for a company over a week:

# Step 1: Create the Pandas Series
days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
sales = [1500, 2300, 1700, 2500, 3000, 4200, 3800]

# TODO: Create the Pandas Series with days as the index
sales_series = 

# Step 2: Explore the Series
print(sales_series)

# TODO: Print the number of elements in the Series

In [ ]:
# Step 3: Access sales data in the Series
# TODO: Print the sales for "Wednesday" and "Saturday"

In [67]:
# TODO: Print the sales for the first and last days of the week

In [69]:
# TODO: Print the sales from "Wednesday" to "Friday"

In [70]:
# Step 4: Filtering and Conditional Selection
# TODO: Create a new Series with days having sales over $3,000

In [71]:
# TODO: Check if any day had exactly $2,300 in sales

In [72]:
# TODO: Check if all days had sales greater than $1,500

In [73]:
# Step 5: Basic Operations on Sales Data
# TODO: Apply a 10% increase and calculate new sales figures

In [74]:
# TODO: Calculate sales after a 5% discount

In [ ]:
# TODO: Calculate total, average, max, and min sales
total_sales = 
average_sales = 
max_sales = 
min_sales = 

print(f"Total sales: ${total_sales}")
print(f"Average sales: ${average_sales}")
print(f"Max sales: ${max_sales} on {sales_series.idxmax()}")
print(f"Min sales: ${min_sales} on {sales_series.idxmin()}")

# Task 3. Practice with Pandas DataFrame

In [80]:
# Step 1: Create the Pandas DataFrame
data = {
    'Transaction ID': [1001, 1002, 1003, 1004, 1005, 1006],
    'Customer ID': [2001, 2002, 2001, 2003, 2002, 2004],
    'Product Category': ['Electronics', 'Clothing', 'Electronics', 'Groceries', 'Clothing', 'Electronics'],
    'Quantity': [1, 2, 1, 3, 1, 2],
    'Price per Unit': [300, 50, 300, 20, 50, 300],
    'Costs per Unit': [200, 50, 250, 20, 10, 150],
    'Transaction Date': ['2024-08-01', '2024-08-02', '2024-08-02', '2024-08-03', '2024-08-03', '2024-08-04']
}

In [ ]:
# TODO: Create the DataFrame
transactions_df =

In [ ]:
# TODO: Convert 'Transaction Date' to datetime format
transactions_df['Transaction Date'] =

In [81]:
# Step 2: Calculate Key Metrics
# TODO: Calculate 'Total Revenue' for each transaction
transactions_df['Total Revenue'] = transactions_df['Quantity'] * transactions_df['Price per Unit']

In [82]:
# TODO: Calculate Customer Lifetime Value (CLV)
# CLV = total revenue by the customer
# Return DataFrame with columns: ['Customer ID', 'Customer Lifetime Value']
clv_df =

In [ ]:
# TODO: Analyze Product Category Popularity
# Calculate the Quantity and Total Revenue by the Product Category
product_category_stats = 

product_category_stats

In [ ]:
# Step 3: Customer Segmentation
# TODO: Segment Customers Based on Revenue:

# Create a new column in clv_df to categorize customers into three segments:
# High Value (CLV > $500)
# Medium Value ($200 < CLV <= $500)
# Low Value (CLV <= $200)

In [ ]:
# Step 3: Customer Segmentation
# TODO: Segment customers based on CLV
clv_df['Segment'] =

In [ ]:
# TODO: Count the number of customers in each segment
segment_counts =

In [ ]:
# Step 4: Sales Trends
# TODO: Calculate daily revenue
daily_revenue = 

# Visualize daily revenue trend
daily_revenue.plot(kind='line', title='Daily Revenue Trend')
plt.show()

# Task 4. Practice with real dataset

In [93]:
# Step 1: Load and Explore the Data
# TODO: Load the Titanic dataset (location: data/raw)
titanic_df =

In [ ]:
# TODO: Display the first few rows

In [94]:
# TODO: Check for missing values

In [95]:
# TODO: Drop rows with missing Age or Embarked values

In [ ]:
# Step 2: Calculate Survival Rates by Class and Gender
# TODO: Calculate survival rate by class
survival_by_class = 
print(survival_by_class)

# TODO: Calculate survival rate by gender
survival_by_gender = 
print(survival_by_gender)

# TODO: Calculate combined survival rate by class and gender
combined_survival = 
print(combined_survival)

In [ ]:
# Step 3: Analyze the Impact of Age on Survival
# TODO: Create age groups (use pd.cut function)
bins = [0, 12, 19, 59, 120]
labels = ['Child', 'Teenager', 'Adult', 'Senior']
titanic_df['AgeGroup'] = 

# TODO: Calculate survival rate by age group
survival_by_age_group = 
print(survival_by_age_group)

In [ ]:
# TODO: Visualize age vs. survival
survival_by_age_group.plot(kind='bar', title='Survival Rate by Age Group')
plt.show()